.page--home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;

  &__title {
    margin-bottom: 30px;
  }

  &__search-block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 50px;

    .search {
      width: 500px;
    }

    .btn {
      min-width: 80px;

      button {
        width: 100%;
      }
    }
  }
}

.filling-data-results {
  justify-content: start;
  align-items: start;

  div {
    justify-content: flex-start;

    .search {
      width: calc(100% - 80px)
    }
  }
}

.confirm-btn {
  display: flex;
  width: 100%;
}