.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100vh;

  background-color: #E5E5E5;

  &__container {
    height: 400px;
    width: 400px;

    background-color: #fff;
  }
}